.navigation-categories {
  .search-banner {
    display: none !important;
  }
}

.custom-footer-content {
  display: none;
}

button#create-topic {
  bottom: 5px;
  right: 5px;
}

.display-search-banner #main-outlet {
  padding-top: 1.5em;
}
